$body-bg: #f5f5dc;

$primary: #343a40;

$list-group-bg: #dee2e6;

.page-title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.bg-dark {
  color: #EEE;
}

.navbar-light .navbar-text .button-log-out {
  color: rgba(0, 0, 0, 0.9)
}
.button-log-out {
  border-width: 0;
  padding: 0;
  vertical-align: baseline;
}
